* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0%;
}

.backdrop.show {
  opacity: 30%;
}

.button-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 20px;
  all: unset;
  background-color: aqua;
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

button:hover {
  transition: 0.5s;
  background-color: blue;
  color: #fff;
  width: 130px;
  height: 70px;
}

.popup-modal {
  background-color: #fff;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
  opacity: 0%;
}

.popup-modal.show {
  opacity: 100%;
  pointer-events: all;
}
